<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.spring2.mapper.BoardImageMapper">
	<insert id="insert">
		insert into p_image(uuid, uploadPath, fileName, image, pno, fullPath)
		values(#{uuid}, #{uploadPath}, #{fileName}, #{image}, #{pno}, #{fullPath});
	</insert>
	<select id="imagelist" resultType="org.spring2.model.ImageVO">
		select *
		from p_image
		where
		pno=#{pno};
	</select>
	<update id="modify">
		update p_image 
		set uuid=#{uuid}, uploadPath=#{uploadPath}, fileName=#{fileName},image=#{image},fullPath=#{fullPath}
		where pno = #{pno};
	</update>
	<delete id="remove">
		delete from p_image 
		where pno=#{pno}
	</delete>
</mapper>
