<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.spring2.mapper.CouponMapper">
	<insert id="signUpCoupon">
		INSERT INTO coupon_target (id,cpno,pno,exp_date)
		VALUES (#{id},#{cpno},#{pno},#{exp_date})
	</insert>
	<resultMap type="org.spring2.model.CouponVO" id="CouponVO">
		<result column="cptype" property="cptype" />
		<result column="cpname" property="cpname" />
		<result column="cpmax" property="cpmax" />
		<result column="cpreq" property="cpreq" />
		<result column="cpvalue" property="cpvalue" />
	</resultMap>
	<resultMap type="org.spring2.model.CouponTargetVO"
		id="CouponTargetVO">
		<result column="id" property="id" />
		<result column="cpno" property="cpno" />
		<result column="pno" property="pno" />
		<result column="doApply" property="doApply" />
		<result column="exp_date" property="exp_date" />
		<collection property="cpvo" resultMap="CouponVO" />
	</resultMap>
	<select id="couponGet" resultMap="CouponTargetVO">
		SELECT 
			c.*,exp_date,doApply
		FROM
			coupon_target ct
		JOIN
			coupon c
		ON
			ct.cpno = c.cpno
		WHERE
			(
			id=#{id}
		and
			pno=#{pno}
			)
		or
			(
			id=#{id}
		and
			pno=0
			)
		;
	</select>
	
	<select id="couponGetOnce" resultMap="CouponTargetVO">
		SELECT 
			c.*,exp_date
		FROM
			coupon_target ct
		JOIN
			coupon c
		ON
			ct.cpno = c.cpno
		WHERE
			id=#{id}
		and
			ct.cpno=#{cpno}
		;
	</select>
	
	<update id="applyCoupon">
		UPDATE cart
		SET cpno=#{cpno}
		<if test="pno == -1">
		,doOrder=false
		</if>
		WHERE id=#{id} 
		<if test="pno != -1">
		and 		
			pno=#{pno}
		</if>
	</update>
	
	<update id="applyCoupon2">
		UPDATE coupon_target
		SET
		<choose>
		<when test="cpno == 0">
		doApply=false
		</when>
		<otherwise>
		doApply=true
		</otherwise>
		</choose> 
		WHERE id=#{id}
		<choose>
		<when test="pno != -1 and cpno != 1">
		and 		
			pno=#{pno}
		</when>
		<when test="pno != -1 and cpno == 1">
		and 		
			pno=0
		</when>
		</choose>
	</update>
	
	<delete id="removeCoupon">
		DELETE
		FROM coupon_target
		WHERE
		id=#{id} and cpno=#{cpno} and doApply=true
	</delete>
</mapper>