<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.spring2.mapper.MemberMapper">
	<!-- 회원가입 -->
	<insert id="signUp">
		insert into member
		(id,password,name,email,phone,gender,birth)
		values(#{id},#{password},#{name},#{email},#{phone},#{gender},#{birth})
	</insert>
	<insert id="createDes">
		insert into destination
		(id,name,phone,address)
		values(#{id},#{name},#{phone},#{address})
	</insert>
	<!-- 로그인 -->
	<select id="login" resultType="org.spring2.model.MemberVO">
		select * from member where
		id=#{id} and password=#{password};
	</select>
	<!-- 아이디 중복확인 -->
	<select id="idchk" resultType="org.spring2.model.MemberVO">
		select * from member where
		id=#{str};
	</select>
	<!-- 이메일 중복확인 -->
	<select id="emchk" resultType="org.spring2.model.MemberVO">
		select * from member where
		email like concat(#{str},'%');
	</select>
	<!-- 전화번호 중복확인 -->
	<select id="phchk" resultType="org.spring2.model.MemberVO">
		select * from member where
		phone=#{str};
	</select>
	
	<!-- 아이디 비밀번호 찾기 -->
	<select id="find" resultType="org.spring2.model.MemberVO">
		select * from member
		<choose>
		<when test="id==null">
			<choose>
				<when test="phone==null">
					where name=#{name} and email=#{email};
				</when>
				<otherwise>
					where name=#{name} and phone=#{phone};
				</otherwise>
			</choose>
		</when>
		<otherwise>
			<choose>
				<when test="phone==null">
					where id=#{id} and name=#{name} and email=#{email};
				</when>
				<otherwise>
					where id=#{id} and name=#{name} and phone=#{phone};
				</otherwise>
			</choose>
		</otherwise>
		</choose>
	</select>
	
	
	<!-- 개인정보 수정을 위한 비밀번호 확인 -->
	<select id="modify" resultType="org.spring2.model.MemberVO">
		select * from member where
		id=#{id} and password=#{password};
	</select>
	<!-- 이메일 수정 -->
	<update id="modifyEmail">
		update member
 		set email = #{email}
		where id=#{id};
	</update>
	<!-- 전화번호 수정 -->
	<update id="modifyPhone">
		update member
 		set phone = #{phone}
		where id=#{id};
	</update>
	<!-- 비밀번호 수정 -->
	<update id="modifyPw">
		update member
 		set password = #{password}
		where id=#{id};
	</update>
	<select id="modifyNewInfo" resultType="org.spring2.model.MemberVO">
		select * from member where id=#{id};
	</select>
	<!-- 계정삭제 -->
	<delete id="modifyDelete">
		delete from member
		where id=#{id};
	</delete>
	<!-- 비밀번호 수정 -->
	<update id="modifyimg">
		update member
 		set userImg = #{userImg}
		where id=#{id};
	</update>
	<select id="destinationGet" resultType="org.spring2.model.DestinationVO">
		select *
		from destination
		where id=#{id};
	</select>
	<insert id="destinationPost">
		insert into destination(id,dname,name,phone,address,dmemo)
		values(#{id},#{dname},#{name},#{phone},#{address},#{dmemo});
	</insert>
	<update id="destinationPut">
		update destination
		set dname=#{dname},name=#{name},phone=#{phone},address=#{address},dmemo=#{dmemo}
		where dno=#{dno};
	</update>
	<delete id="destinationDelete">
		delete from destination
		where dno=#{dno};
	</delete>
	<select id="memberListGet" resultType="org.spring2.model.MemberVO">
		select *
		from member
		where admin=false;
	</select>
	<select id="memberDetail" resultType="org.spring2.model.MemberVO">
		select *
		from member
		where id=#{id};
	</select>

</mapper>