<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spring2.mapper.OrderMapper">
	<insert	id="orderPay">
	<selectKey keyProperty="payno" order="BEFORE" resultType="int">
			select
			ifnull (max(payno)+1 , 1)
			from payment
	</selectKey>
		INSERT INTO payment (payno,price, name, id, address, phone, dmemo)
		VALUES (#{payno},#{price},#{name},#{id},#{address},#{phone},#{dmemo})
	</insert>
	<insert id="orderAdd">
	<selectKey keyProperty="payno" order="BEFORE" resultType="int">
			select
				max(payno)
			from payment
	</selectKey>
		INSERT INTO orderP (payno,pno,quantity,id)
		VALUES (#{payno},#{pno},#{quantity},#{id})
	</insert>
	
	<select id="orderList" resultType="org.spring2.model.CartVO">
		SELECT * FROM cart WHERE id=#{id} and pno=#{pno}
	</select>
	
	<update id="orderReady">
		UPDATE cart SET doOrder = true, quantity = #{quantity} WHERE id=#{id} and pno=#{pno}
	</update>
 
	<resultMap type="org.spring2.model.BoardVO" id="BoardVO">
		<result column="price" property="price" />
		<result column="pname" property="pname" />
	</resultMap>
	<resultMap type="org.spring2.model.ImageVO" id="ImageVO">
		<result column="fullPath" property="fullPath" />
	</resultMap>

	<resultMap type="org.spring2.model.CartVO" id="CartVO">
		<result column="id" property="id" />
		<result column="pno" property="pno" />
		<result column="quantity" property="quantity" />
		<result column="add_date" property="add_date" />
		<collection property="bvo" resultMap="BoardVO" />
		<collection property="ivo" resultMap="ImageVO" />
	</resultMap>
	
	<select id="orderReadyList" resultMap="CartVO">
		select
			id,cart.pno,price,pname,fullPath,quantity
		from
			cart
		join
			(
				select
					product.pno,price,pname,fullPath
				from
					product
				join
					p_image
				on
					product.pno = p_image.pno
			) joined
		on
			cart.pno = joined.pno
		where
			id=#{id} and doOrder=true
		ORDER BY
			add_date desc
		;
		</select>
		
		<select id="orderCheck" resultType="org.spring2.model.OrderVO">
			SELECT 
				* 
			FROM 
				orderP 
			WHERE 
				id=#{id}
			and
				payno=(SELECT MAX(payno) FROM payment);
		</select>
		
		<update id="orderAfter">
			UPDATE product SET quantity=quantity - #{quantity}, s_quantity = s_quantity + #{quantity} 
			WHERE pno=#{pno}
		</update>
</mapper>