@charset "UTF-8";

#container{
	width: 90%;
    margin: 0 auto;
}
/* 글쓰기버튼 */

#btn_Write{
	margin-bottom: 5px;
    position: relative;
    right: -608px;
    bottom: -71px;
}
/* 가구 종류 카테고리 */
#p_list{
	position: relative;
	left: 10px;
}
#p_list > ul {
	list-style : none;
}

#p_list > ul > li{
	float : left;
	padding: 20px;
    border: 1px solid #dae1e6;
    width: 128px;
    margin: 72px 0;
    
}
#p_list > ul > li:hover{
	cursor: pointer;
	text-decoration: underline;
	
}

/* 셀렉트 정렬 */
#chAndSelect{
	float: right;
}
#divExcept{
	position: relative;
    top: 175px;
    right: 197px;
}
#array{
	position: relative;
    top: 146px;
    right: 19px;
}
/* 제품들을 나열하는 리스트 */
#list{
	clear:both;
}

.uploadResult{
	width: 300px;
    height: 200px;
}

#list > ul{
	list-style: none;
}

#list > ul > li{
	float: left;
	margin: 12px;
	border: 1px solid #d6dadd;
	height:300px;
}

#list > ul > li > p > a:hover{
	text-decoration: underline;
}
#paging{
	clear:both;
}
.imglist{
	position:relative;
}
.img_soldout{
	position:absolute;
	width:300px; 
	height:200px;
	background-color: gray;
	top:0;
	opacity:0.8;
	color:white;
	align-items: center;
	display:flex;
	justify-content: center;
	font-size:52px;
	clear:both;
}
.pageNumber{
	margin:0 5px;
}
.pageNumber:hover{
	text-decoration: underline;
	
}