@charset "UTF-8";

/* 가구 종류 카테고리 */
#p_list > ul {
	list-style : none;
}

#p_list > ul > li{
	float : left;
	padding: 0 20px;
    border: 1px solid black;
}

/* 셀렉트 정렬 */
#array{
	clear: both;
}

/* 제품들을 나열하는 리스트 */
#list > ul > li > a > img{
	width: 300px;
}
#list > ul{
	list-style: none;
}

#list > ul > li{
	float: left;
	margin: 10px;
	list-sytl:none;
}
