@charset "UTF-8";

table {
	display: inline;
}

td {
	padding: 10px;
	margin: 10px;
}

#result {
	border: 1px solid black;
	color: white;
	background-color: #abaaaa;
	position: fixed;
	width: 150px;
	height: 150px;
	bottom: 75px;
	right: 75px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	z-index: 10;
	flex-direction: column;
}

.opt_color {
    display: inline-block;
	width: 30px;
	height: 30px;
    border-radius: 15px;
    cursor: pointer;
}

#red {
	background-color:red;
}

#orange {
    background-color: orange;
}

#yellow {
    background-color: yellow;
}

#green {
	background-color:green;
}

#blue {
	background-color:blue;
}

#navy {
    background-color: navy;
}

#purple {
    background-color: purple;
}

#white {
    background-color: white;
}

#black {
    background-color: black;
}