@charset "UTF-8";
body {
	text-align: center;
	margin-right: 200px;
	margin-left: 200px;
}

#entry_area {
	background-color: #e7e7e7;
}

#header {
	background-color: #abaaaa;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 100px;
}

#footer {
	background-color: #abaaaa;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 100px;
}