@charset "UTF-8";

body {
	text-align: center;
	font-family: 'Nanum Gothic', sans-serif;
	
}

a {
	text-decoration: none;
	color: black;
	font-size:18px;
}

input[type="submit"], input[type="button"], button {
	background-color: #35c5f0;
    border: 1px solid #35c5f0;
    padding: 13px;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    font-size: 15px;
    font-family: 'Nanum Gothic', sans-serif;
}
input[type="submit"]:hover, input[type="button"]:hover, button:hover{
	cursor: pointer;
	filter: brightness(90%);
}
input[type="text"]{
	font-size: 15px;
	border:1px solid #dae1e6;
	border-radius: 6px;
	background-color: transparent;
	font-family: 'Nanum Gothic', sans-serif;
}
input[type="password"]{
	font-size: 15px;
	border:1px solid #dae1e6;
	border-radius: 6px;
	font-family: 'Nanum Gothic', sans-serif;
}
select{
	font-size: 15px;
    height: 31px;
    font-family: 'Nanum Gothic', sans-serif;
}
table,tr,td{
	font-size: 15px;
	border:1px solid #dae1e6;
}

#Company{
	font-size: 47px;
    position: absolute;
    top: 45px
}
#entry_area {
	width: 1503px;
	
	margin: auto;
}

#header {
	position: relative;
}

#header_top {
	position: relative;
	height: 50px;
	width: 1503px;
	background-color: white;
	padding-top: 50px;
	padding-bottom: 50px;
}

#header_bottom {
	position: relative;
	height: 100px;
	width: 1503px;
	border-bottom:2px solid #b4b6b7;
	margin-bottom: 50px;
}

#header_bottom h1 {
	margin: 0;
}

#footer {
	position: relative;
	height: 300px;
	width: 1503px;
	background-color: #e4e8eb;
	margin-top: 50px;
}

#a_list {
	position: absolute;
	right: 20px;
	top: 0px;
}

#header_parents_ul {
	list-style: none;
	display: inline;
}

#a_list #header_parents_ul li {
	float: right;
	margin: 20px;
}

#header_user_img {
	border: 1px #abaaaa solid;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background-size: cover;
}

#header_user_menu {
	list-style: none;
	display: none;
	position: absolute;
	top: 70px;
	right: 10px;
	z-index: 10;
	background-color: white;
	border: 1px black solid;
	padding: 0px;
}

#header_login_ul {
	list-style: none;
	display: inline;
}

.header_login_li {
	float: right;
	margin: 20px;
}

#header_user_menu li {
	margin: 15px;
}

#header_user_id:hover #header_user_menu {
	display: inline;
}

#header_user_id {
	margin-top: 35px;
	padding: 0px 50px 20px 0px;
}

#categori_btn img {
	width: 50px;
	height: 50px;
}

#categori_btn {
	position: absolute;
	bottom: 0;
	cursor: pointer;
	padding: 25px;
}

#categori {
	border: 1px solid #35c5f0;
	border-radius: 15px;
	background-color: #35c5f0;
	color: white;
	display: none;
	list-style: none;
	position: absolute;
	    bottom: -508px;
	left: 0px;
	padding-left: 0;
	margin: 0;
	width: 201px;
	z-index: 100;
}
#categori_0:hover, .cates li:first-child:hover{
	border-top-left-radius: 13px;
	border-top-right-radius: 13px;
}
#categori_h:hover{
	border-bottom-left-radius: 13px;
	border-bottom-right-radius: 13px;
}
#categori li {
	font-size: 15px;
	padding: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	cursor: pointer;
	width: 100px;
}

#categori_a_list, #categori_b_list, #categori_c_list, #categori_d_list,
	#categori_e_list,#categori_f_list,#categori_g_list,#categori_h_list {
	border: 1px solid #31a7cb;
	border-radius: 15px;
	background-color: #35c5f0;
	color: white;
	display: none;
	list-style: none;
	position: absolute;
	top: 0;
	left: 184px;
	padding-left: 0;
	height: 512px;
}
#categori_0:hover,#categori_a:hover,#categori_b:hover,#categori_c:hover,#categori_d:hover,#categori_e:hover,#categori_f:hover,#categori_g:hover,#categori_h:hover{
	background-color: #146b85;
	text-decoration: underline;
}

#categori_a_list li a, #categori_b_list li a, #categori_c_list li a,
	#categori_d_list li a, #categori_e_list li a , #categori_f_list li a, #categori_g_list li a, #categori_h_list li a{
	font-size: 15px;
	cursor: pointer;
	color: white;
}
#categori_a_list li:hover, #categori_b_list li:hover, #categori_c_list li:hover,
	#categori_d_list li:hover, #categori_e_list li:hover , #categori_f_list li:hover, #categori_g_list li:hover, #categori_h_list li:hover{
	background-color: #146b85;
	text-decoration: underline;
}
#categori_a:hover .cates, #categori_b:hover .cates, #categori_c:hover .cates,
	#categori_d:hover .cates, #categori_e:hover .cates,#categori_f:hover .cates ,#categori_g:hover .cates,#categori_h:hover .cates{
	display: block;
}

#categori_btn:hover #categori {
	display: block;
}

#search_div img {
	width: 30px;
	position: absolute;
	bottom: 10px;
}

#search_input {
	height: 30px;
	padding: 10px;
	margin-right: 20px;
	font-size: 20px;
}

#search_div {
	position: absolute;
	right: 30px;
	bottom: 120px;
	cursor: pointer;
}
#btnTop{
	position: fixed;
    right: 3px;
    bottom: 52px;
    z-index: 999;
    cursor: pointer;
    background-image: url(https://toppng.com/uploads/preview/light-blue-up-arrow-11550117759k4je61afsa.png);
    background-size: cover;
    border-radius: 25px;
    width: 50px;
    height: 50px;
}
#btnTopImg{
	width: 37px;
    height: 33px;
}