@charset "UTF-8";
/* 문의 전체 틀 */
#inquiry{
	height: 100%;
	width: 80%;	
	margin: 0 auto;
}
#list, #write, #paging{
	height: 100%;
	width:100%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
h3, #paging{
	margin-top: 10px;
	margin-bottom: 10px;
}
.input{
	height: 100%;
	width: 97%;
	border: 0;
}
/* 문의 테이블 */
#list>form>table, #write>form>table, #modify>table, #pro>table{
	width: 80%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: white;
}
table,tr,td,th{
	border : 1px solid black;
  	border-collapse : collapse;
  	word-break: break-all;
}
tr{
	height: 40px;
}
th,td{
	width: 20%;
}
#answer{
	background-color: #c0c0c0;
}
textarea{
	height: 150px;
	width: 99%;
	resize: none;
	border: 0;
}
#adminanswer{
	background-color: white;
}
textarea[readonly] ,input[readonly]{
	outline: none;
}

/* 문의 링크 */
#noanswer{
	margin-right: 67%;
}
#wrorlo>a {
	font-weight: bold;
	margin-left: 70%;
	color:#868686;
}
#wrorlo>p{
	margin-left: 55%;
}
/* 문의 버튼 */
.ianswer, .idelete{
	width: 100px;
	height: 5px;
	text-align:center;
	padding-top: 3px;
	padding-bottom: 20px;
}
#wbtn, #ibtn>input[type="button"]{
	margin-top:10px;
	margin-bottom:10px;
	height: 41px;
    width: 95px;
	padding: 5px;
	
}
#ibtn{
	width: 80%;
	margin-left: 46%;
}
/* 문의 페이징 */
#paging>a{
	font-weight: bold;
}
.red{
	color: red;
} 
.hv:hover, .numhv:hover{ 
	color: #abaaaa; 
	text-decoration: underline;
}


