@charset "UTF-8";



table {
    margin-left:auto; 
    margin-right:auto;
    width: 800px;
    margin-bottom:50px;
}

#tbody_name {
	vertical-align:top;
	text-align:left;
    padding: 10px;
	padding-top: 50px;

}

#tbody_add{
	vertical-align:top;
	text-align:left;
    padding: 10px;
	padding-top: 50px;
	
}

#tbody_modify{
	vertical-align:top;
    padding:10px;
	padding-top: 50px;
  
}

#tbody_phone{
	text-align:left;
	padding-left:10px;
}

th{
	padding:10px;
}

#table_line{
	background-color:#abaaaa;
	height:1px;
}


