@charset "UTF-8";

#title{
	margin-top:100px;
}
#find_id_box{
/* 	border:1px solid green; */
	position:relative;
	width:600px;
	height:510px;
    margin:50px auto 200px auto;
    border-radius:30px;
    background-color:#eeeeee;
}

#show_id_box{
/* 	border:1px solid black; */
	position:absolute;
	width:310px;
	height:200px;
	left:145px;
	top:140px;
	border-radius:5px;
    background-color:#f7f7f7;
}

#text_1{
	margin-top:40px;
	font-size:18px;
}

#text_2{
	font-size:30px;
	margin:0px;
}

#text_3{
	font-size:18px;
}

#link_box{
/* 	border:1px solid black; */
	position:absolute;
	width:310px;
	height:20px;
	left:145px;
	top:350px;
}


#link_findId{
	position:absolute;
	width:155px;
	text-align:left;
	font-size:14px;
}

#link_login{
	position:absolute;
	width:155px;
	top:0px;
	left:155px;
	text-align:right;
	font-size:14px;
}

#link_box > div > a:hover{
	color:#808080;
}