@charset "UTF-8";

#title{
	margin-top:100px;
}
#signup_box{
/* 	border:1px solid green; */
	position:relative;
	width:600px;
	height:1400px;
    margin:50px auto 200px auto;
    border-radius:30px;
    background-color:#f8fcfc;
}

#signup_box_text {
/* 	border:1px solid black; */
	position:absolute;
    width:400px;
	height:975px;
	left:100px;
	top:100px;
}

.signup_text{
/* 	border:1px solid red; */
	text-align:left;
	margin-bottom:7px;
}

.signup_input{
	width:387px;
	height:40px;
	padding:0px 0px 0px 10px;	
	font-size: 15px;
	border:1px solid #dae1e6;
	border-radius: 6px;
	background-color: transparent;
}

.signup_msg{
/* 	border:1px solid red; */
	height:30px;
	text-align:left;
	margin-top:7px;
	font-size:14px;
}

.birth_input{
	width:129px;
	height:43px;
	padding-left:10px;
	font-size: 15px;
	border:1px solid #dae1e6;
	border-radius: 6px;
	background-color: transparent;
}

#gender_input_box{
	position:relative;
	width:400px;
	height:40px;
}

.gender_input{
	margin:0px;
	width:20px;
	height:20px;
	vertical-align: bottom;
}

#g_input_m{
	position:absolute;
	width:45px;
	height:20px;
	left:0px;
	top:10px;
}

#g_input_f{
	position:absolute;
	width:45px;
	height:20px;
	left:60px;
	top:10px;
}

.p_select{
	width:129px;
	height:43px;
	padding-left:10px;
	font-size: 15px;
	border:1px solid #dae1e6;
	border-radius: 6px;
	background-color: transparent;
}

.p_input{
	width:251.4px;
	height:40px;
	padding:0px 0px 0px 10px;
}

.e_select{
	width:96px;
	height:43px;
	padding-left:10px;
	font-size: 15px;
	border:1px solid #dae1e6;
	border-radius: 6px;
	background-color: transparent;
}

.e_input{
	width:130px;
	height:40px;
	padding:0px 0px 0px 10px;
}

.mail_check_box{
/* 	border:1px solid green; */
	position:relative;
	width:400px;
	height:55px;
	margin-left:auto; 
    margin-right:auto;
	
}


#email_btn{
	position:absolute;
	top:5px;
	left:0px;
	width:120px;
	height:42px;
	padding:0px;
	margin:0px;
	cursor:pointer;
}
#email_num{
	position:absolute;
	top:5px;
	left:125px;
	width:271px;
	height:40px;
	padding:0px;
	padding-left:10px;
	margin:0px;
	font-size: 15px;
	border:1px solid #dae1e6;
	border-radius: 6px;
/* 	background-color: transparent; */
}

#signsub_box{
/* 	border:1px solid green; */
	position:relative;
	width:400px;
	height:100px;
}

#signsub{
	position:absolute;	
	bottom:0px;
	left:0px;
	width:400px;
	height:45px;
	padding:10px;
	cursor:pointer;
}




.signtable{
	height:50px;
}

td{
	vertical-align:top;
}

.signmsg{
	font-size:5px;
}

#idbtn{
	font-size:5px;
}

table {
    margin-left:auto; 
    margin-right:auto;
}

.tableInput{	
	padding-left:30px;
	text-align:left;
	
}
