@charset "UTF-8";
body {
	text-align: center;
	margin-right: 200px;
	margin-left: 200px;
}

#entry_area {
	background-color: #e7e7e7;
}

#header {
	background-color: #abaaaa;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 100px;
}
table{
	width: 80%;
	margin: 0 auto;
	border: 1px solid black;
	border-collapse : collapse;
	text-align: left;
	margin-top: 50px;
}
tr, td{
	border: 1px solid black;
}
tr{
	height: 50px;
} 
td{
	padding-left: 10px;
}
.title > td{
	text-align: left;
	padding-left: 10px;
	border-top: hidden;	
	border-right: hidden;	
	border-left: hidden;
	font-weight: bolder;
}
#delNum{
	height: 35px;
}
#menu{
	font-weight: bolder;
	width: 15%;
	text-align: center;
}
#request{
	width: 96%;
    height: 50px;
    resize: none;
    padding: 10px;
    margin: 5px;
}
#memo{
	width: 96%;
    height: 100px;
    resize: none;
    padding: 10px;
    margin: 5px;
}
.btn{
	margin-top:10px;
	width: 100px;
	height: 40px;
	margin-top: 20px;
	margin-bottom: 50px;
}
#footer {
	background-color: #abaaaa;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 100px;
}